<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>流型识别系统</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/assets/js/flow-curve.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    {{ template "threejs_head.shtml" }}
</head>
<body>
    <div class="container">
        <h1>流型识别系统</h1>
        <div class="content-wrapper">
            <form id="form" class="form-container">
                <div class="form-group">
                    <label for="sample_length">样本长度</label>
                    <input type="number" id="sample_length" list="sample_length-options" required min="0" value="4096">
                    <datalist id="sample_length-options">
                        <option value="4096"></option>
                        <option value="8192"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="step">步长</label>
                    <input type="number" id="step" list="step-options" required min="0" value="2048">
                    <datalist id="step-options">
                        <option value="2048"></option>
                        <option value="4096"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="data-source">监控地址</label><!-- 不同的rk3588开发板 -->
                    <select class="source-options" id="data-source">
                        <option value="http://172.25.157.31:5000">RK3588-01-address</option>
                        <option value="http://172.25.157.31:5000">RK3588-02-address</option>
                    </select>
                </div>
                <button type="submit">识别流型</button>
            </form>
            <div class="result" id="result">
                <div class="card">
                    <div class="flow-type">
                        <label for="flow-type">流&emsp;型</label>
                        <span id="flow-type"></span>
                    </div>
                    <div class="flow-prob">
                        <label for="flow-prob">置信度</label>
                        <span id="flow-prob"></span>
                    </div>
                    <div class="flow-curve">
                        <label for="data-curve">曲线</label>
                        <canvas class="data-curve" id="data-curve"></canvas>
                    </div>
                    <div class="flow-anim">
                        <label>动画</label>
                        <canvas class="flow-animation-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    const flow_result = {
        pre_label: undefined,
        flow_type: undefined,
        flow_data: undefined,
        prob: undefined,
    }

    document.getElementById('form').onsubmit = async function(e) {
        e.preventDefault();
        const sample_length = document.getElementById('sample_length').value;
        const step = document.getElementById('step').value;
        const data_source = document.querySelector('.source-options').value;

        const res = await fetch(data_source+'/api/predict', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({sample_length, step})
        });
        const data = await res.json();

        flow_result.pre_label = data.results[0].preLabel;
        flow_result.flow_type = data.results[0].flowType;
        flow_result.flow_data = data.results[0].flowData;
        flow_result.prob = data.results[0].probability;

        console.log("data", data);
        console.log("flow_result:", flow_result)

        const result_div = document.getElementById('result');
        // 显示预测类别--流型名字
        result_div.querySelector(".flow-type span").textContent = `${flow_result.flow_type}`;
        // 置信度--预测概率
        result_div.querySelector(".flow-prob span").textContent = `${flow_result.prob}`;

        /******************** 曲线 ********************/
        var canvas_curve = document.querySelector(".flow-curve").querySelector(".data-curve");
        draw_flow_curve(canvas_curve, flow_result.flow_data);

        /******************** 动画 ********************/
        
    }
    </script>
    <script type="module" src="assets/js/flow-anime.js"></script>
</body>
</html>